<!DOCTYPE html>
<html lang=" en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title %}E-Commerce Site{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'cart_page' %}">Cart</a></li>
                <li><a href="{% url 'checkout_page' %}">Checkout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My E-Commerce Site</p>
    </footer>
</body>
</html>